body{
    background: #ededed;
    font-family: 'Montserrat', sans-serif;
}

header,
main .section,
footer {
    width: auto;
    margin: auto;
    max-width: 1000px;
}

header .logo-contenedor img {
    background: #fff059;
    width: 50px;
    padding: 10px 1000px 10px 10px;
}

.main {
    width: auto;
    float: center;
    margin-right: 1.5%;
} 

.main section {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    height: 500px;
    width: 500px;
    margin-top: 50px;
}

.caja {
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    height: 50px;
    width: 250px;
    margin: 30px;
}

.caja#cajaAzul {
    border-color: transparent;
    background: cornflowerblue;   
}

footer {
    background: #fff;
    clear: both;
}

footer .footer-content {
    color: #000;
    text-align: center;
    padding: 5px;
    margin: 55% 5% 5% 5%;
}