/*este es el coso de los comentarios*/



h1 {
    color: rgb(210, 190, 243);
}

h2 {
    color: rgb(252, 178, 144);
}

p {
    font-size: 95%;
    color: honeydew;
}

body{
    background-color: grey;
}

#parrafo1 {
    color: honeydew;
}

#parrafo2 {
    color: khaki;
}

.caja {
    border: 1px solid lightgray;
    height: 50px;
    width: 200px;
    margin: 20px;
    padding: 20px;
}